Part3_Web_and_Automation/n8n/PlantSystem_-_Water_All_Plants.json
{
  "name": "PlantSystem - Water All Plants",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        700,
        550
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `sensor_links` ORDER BY `solenoidAddress` ASC"
      },
      "name": "Select Solenoids",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        900,
        550
      ],
      "credentials": {
        "mySql": "NAS - MySQL"
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "For Each Solenoid",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1100,
        550
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://192.168.0.19/waterPlant",
        "responseFormat": "string",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "address",
              "value": "={{$json[\"solenoidAddress\"]}}"
            },
            {
              "name": "volume",
              "value": "={{$json[\"waterVolume\"]}}"
            }
          ]
        }
      },
      "name": "Water Plant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        550
      ],
      "notesInFlow": false,
      "notes": "Send request to water the plant with 100ml of water"
    },
    {
      "parameters": {
        "table": "watering_data",
        "columns": "solenoidAddress, waterVolume",
        "options": {}
      },
      "name": "Update `watering_data`",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1500,
        750
      ],
      "credentials": {
        "mySql": "NAS - MySQL"
      }
    },
    {
      "parameters": {
        "functionCode": "const sleepTime = 15000; // in miliseconds\n\nfunction sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n// Sleep\nawait sleep(sleepTime );\n// Output data\nreturn items;\n"
      },
      "name": "Delay",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1700,
        550
      ],
      "notesInFlow": false,
      "notes": "Sleep"
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "boolean": [
            {
              "value1": "={{$node[\"For Each Solenoid\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "waterVolume",
              "value": 50
            }
          ]
        },
        "options": {}
      },
      "name": "Water Volume",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1300,
        550
      ]
    },
    {
      "parameters": {
        "chatId": "1254950103",
        "text": "=Watering {{$json[\"plantName\"]}} with {{$json[\"waterVolume\"]}}mL of water",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1500,
        950
      ],
      "credentials": {
        "telegramApi": "Telegram N8N"
      }
    },
    {
      "parameters": {
        "path": "4d08ae89-8eba-4ee4-80c2-d8f93ff51adb",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        700,
        390
      ],
      "webhookId": "4d08ae89-8eba-4ee4-80c2-d8f93ff51adb"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Select Solenoids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Solenoids": {
      "main": [
        [
          {
            "node": "For Each Solenoid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Each Solenoid": {
      "main": [
        [
          {
            "node": "Water Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Water Plant": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "For Each Solenoid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Water Volume": {
      "main": [
        [
          {
            "node": "Update `watering_data`",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Water Plant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Select Solenoids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "4"
}